.list-group {
    margin-top: 30px;
    width: 600px;
    margin-left: 400px;
  
}

.list-group-item {
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 26px;
    color: #08508a;
    background-color: #eed8c9;
    border: 1px solid #eed8c9;
    margin: 6px;
   
}

.abc {
    color: #eed8c9;
    font-size: 24px;
    margin-top: 12px;
    cursor: pointer;
    margin-left: 2px;
}


footer {
    position: fixed;
    width: 100%;
    background-color: #08508a;
}


.btn {
    font-size: 14px;
    margin-left: 530px;
    margin-top: 20px;
    color: #08508a;
    background-color: #eed8c9;

}

.submit {
    border-radius: 20px;
    border: 1px solid #68829e;
}

.btn:hover {
    color: #08508a;
    background-color: whitesmoke;
}

.list-group-item:hover {
    color: #08508a;
    background-color: whitesmoke;

}

.img {
    margin-left: 180px;
 }

 .nav {
    font-family: 'Rancho';
    font-size: 25px;
    
}

.navbar-brand {
    font-size: 28px;
    font-family: 'Cabin Sketch';
    
}

.navbar {
    background-color: #08508a;
}

.navbar-nav > li >a {
    color: #eed8c9;
   
}

.navbar-header > a {
    color:  #eed8c9;
}

.navbar-nav > li >a:visited {
background-color: #68829e;
}

.btn-toolbar {
    margin-top: 40px;
    margin-left: 170px;
}

.btn-toolbar > button {
    font-size: 15px;
    border: 1px solid #08508a;
    border-radius: 10px;
}

li {
    list-style-type: none;
    display: inline;
    
}

img{
    margin: 6px;
    padding: 6px;
    cursor: pointer;
}
ul {
    margin-left: 200px;
}

img:hover{
    margin: 4px;
    padding: 4px;
    cursor: pointer;
    transform: scale(1.5);
    transition: transform .6s;
}


