<body [ngStyle]="{'background':  'url(https://s-i.huffpost.com/gen/1740573/images/o-WOMAN-WRITING-facebook.jpg)'}">
<div class="navbar navbar-default">
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
  <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="/" routerLinkActive = "active">Happy Camper <i class="fa fa-child"></i></a>
          </div>
          <ul class="navbar-nav nav navbar-right">
              <!--<li routerLinkActive = "active"><a routerLink="/sign-up">Sign Up <i class="fa fa-user-circle-o"></i></a></li>-->
              <!--<li routerLinkActive = "active"><a routerLink="/login">Login<i class="fa fa-sign-in"></i></a></li>-->
              <li routerLinkActive = "active"><a routerLink="/contact">Contact Us <i class="fa fa-address-book-o"></i></a></li>
              <!--<li routerLinkActive = "active"><a routerLink="explore">Explore <i class="fa fa-spinner"></i></a></li>-->
              
             
          </ul>
           
        </div>
      </div><br><br>
<div class="card  animated slideInLeft">
  <br>
<h1 class="card-header">Login with Gmail</h1><br>
  &nbsp;&nbsp;&nbsp;<button class="btn" (click) = "login()"><i class="fa fa-lg fa-google"></i></button>
  <br>
  <br>
  <br>
  <br>
</div>
<footer class="page-footer font-medium">
  <div class="footer-copyright text-center">© 2018 Copyright: Happy Camper</div>
</footer>
  <!--  <h1 class="or">OR</h1>
    <h1 class="card-header">Login with</h1>
   &nbsp;&nbsp;&nbsp; <button class="btn" (click) = "login2()"><i class="fa fa-lg fa-facebook"></i></button>
    <br><br>
    </div><br>
   <img src="https://image.ibb.co/ghMcXU/My_Post1.jpg" width="40%" height="40%">-->
 <!-- </ng-template>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </body>