<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
<body [ngStyle]="{'background':  'url(https://greatist.com/sites/default/files/FengShui_Feat.jpg)'}">
<div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/" routerLinkActive = "active">Happy Camper <i class="fa fa-child"></i></a>
      </div>
      <ul class="navbar-nav nav navbar-right">
          <!--<li routerLinkActive = "active"><a routerLink="/sign-up">Sign Up <i class="fa fa-user-circle-o"></i></a></li>-->
          <!--<li routerLinkActive = "active"><a routerLink="explore">Explore <i class="fa fa-spinner"></i></a></li>-->
          
         
      </ul>
       
    </div>
  </div>
  <h2>Send us a mail or give us a call. We'd <i class="fa fa-heart"></i> to help!</h2><br>
<div class="contact">
  <br>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail: &nbsp;<i class="fa fa-envelope-open-o"></i></h3>
  <h3>nikitabathla123@gmail.com</h3>
  <h3>pranay.1613073@kiet.edu</h3><br><br>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact: &nbsp;<i class="fa fa-phone"></i></h3>
  <h3>Nikita: &nbsp;&nbsp;8449409007</h3>
  <h3>Pranay: &nbsp;&nbsp;7275774945</h3>
</div>
<br>
<br>
<br>
<footer class="page-footer font-medium">
  <div class="footer-copyright text-center">© 2018 Copyright: Happy Camper</div>
</footer>
<br>
  </body>
  
  


